# Byte-compiled files
*.py[cod]
__pycache__/

models/__pycache__/
models/*.py[cod]

# Environment variables
.env

# Log files
*.log
*.tmp

# Virtual environments
venv/
*.venv/

# Database or secret files
*.sqlite3
secrets.json

# IDE specific files
.vscode/
.idea/

.dockerignore
Dockerfile